body {
  padding-top: 60px;
}


.badge-blue {
  background-color: #3a87ad !important;
}
.badge-blue:hover {
  background-color: #2d6987;
}

.badge-yellow {
  background-color: #f89406 !important;
}
.badge-yellow:hover {
  background-color: #c67605;
}

.badge-green {
  background-color: #468847 !important;
}
.badge-green:hover {
  background-color: #356635;
}

table.barby-barcode { border-spacing: 0; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 30px; }
td.barby-cell.on { background: #000; }